In [1]:
import sys
import pandas as pd
import re
pathModulesES = '../sauceforyall/'
sys.path.append(pathModulesES)
from yelpquery import YelpQuery
from pandasticsearch import Select
ye = YelpQuery()

In [45]:

df = pd.read_json("../dataset/city_reviews/review_stars_Calgary_2016_2019.json", lines=True)
Count = df.groupby(by="business_id",as_index=False)['stars'].count()
Count.rename(columns={'stars': 'business_count'}, inplace=True)
m = Count['business_count'].quantile(0.99)
Count2 = df.groupby(by="user_id",as_index=False)['stars'].count()
Count2.rename(columns={'stars': 'user_count'}, inplace=True)
n = Count2['user_count'].quantile(0.99)
df = pd.merge(df,Count2,on='user_id')
df = pd.merge(df,Count,on='business_id')
indexNames = df[ df['business_count'] < m].index
df.drop(indexNames , inplace=True)
indexNames = df[ df['user_count'] < n].index
df.drop(indexNames , inplace=True)
#df = df[["business_id","user_id","name","stars","state","city","categories","attributes","is_open","text","review_id","date"]]
## filter restaurants only
##df = df[df.categories.map(lambda x: 'Restaurants' in x)]
##return df.sort_values(by='stars', ascending=False)

In [39]:
df.head()

,business_id,name,state,city,categories,attributes,is_open,user_id,stars,text,date,user_count,business_count
87,llad5ng0sxHkWrK1ZlswxA,The Himalayan,AB,Calgary,"Restaurants, Himalayan/Nepalese","RestaurantsTableService_True, WiFi_free, Resta...",1,sEYhtPp7-Dm1b241JigCkA,4,Very quaint clean nice staff nice owner good f...,2017-06-08 23:16:34,44,99
90,llad5ng0sxHkWrK1ZlswxA,The Himalayan,AB,Calgary,"Restaurants, Himalayan/Nepalese","RestaurantsTableService_True, WiFi_free, Resta...",1,ZEKYaxvlE1ot3hzuea88YA,5,The Himalayan be down the street from u. We ea...,2018-11-04 20:18:18,24,99
91,llad5ng0sxHkWrK1ZlswxA,The Himalayan,AB,Calgary,"Restaurants, Himalayan/Nepalese","RestaurantsTableService_True, WiFi_free, Resta...",1,VbB0_jzI_DrnPY4DuROVkQ,4,"Just recently renovate, this'new' version have...",2018-04-25 01:21:48,163,99
92,llad5ng0sxHkWrK1ZlswxA,The Himalayan,AB,Calgary,"Restaurants, Himalayan/Nepalese","RestaurantsTableService_True, WiFi_free, Resta...",1,qDIGqITXdxFngeYmfBShzA,5,"Great food, amaze service and reasonably price...",2016-12-15 06:04:26,31,99
93,llad5ng0sxHkWrK1ZlswxA,The Himalayan,AB,Calgary,"Restaurants, Himalayan/Nepalese","RestaurantsTableService_True, WiFi_free, Resta...",1,gpYWWN7Dyfu9ois7S_yfoA,3,The first attempt we be sent on our way- reser...,2017-04-14 04:17:08,22,99

In [46]:
def concat(data):
    l = []
    for n in data:
        l.append(n)
    return l
    

test = df.groupby(by="user_id",as_index=False)['name'].apply(concat)

In [47]:
test = list(test)

In [50]:
results = list(apriori(test,min_length=80))
print(results)

[RelationRecord(items=frozenset({'Alforno Bakery & Cafe'}), support=0.20394736842105263, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Alforno Bakery & Cafe'}), confidence=0.20394736842105263, lift=1.0)]), RelationRecord(items=frozenset({'Anju'}), support=0.1118421052631579, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Anju'}), confidence=0.1118421052631579, lift=1.0)]), RelationRecord(items=frozenset({"Blaze Fast-Fire'd Pizza"}), support=0.13157894736842105, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({"Blaze Fast-Fire'd Pizza"}), confidence=0.13157894736842105, lift=1.0)]), RelationRecord(items=frozenset({'Blue Star Diner'}), support=0.10526315789473684, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Blue Star Diner'}), confidence=0.10526315789473684, lift=1.0)]), RelationRecord(items=frozenset({'Briggs Kitchen + Bar'}), support=0.11842105263157894, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Briggs Kitchen + Bar'}), confidence=0.11842105263157894, lift=1.0)]), RelationRecord(items=frozenset({'Cactus Club Cafe'}), support=0.17763157894736842, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Cactus Club Cafe'}), confidence=0.17763157894736842, lift=1.0)]), RelationRecord(items=frozenset({'Charcut Roast House'}), support=0.11842105263157894, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Charcut Roast House'}), confidence=0.11842105263157894, lift=1.0)]), RelationRecord(items=frozenset({'Cibo'}), support=0.11842105263157894, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Cibo'}), confidence=0.11842105263157894, lift=1.0)]), RelationRecord(items=frozenset({'Cluck N Cleaver'}), support=0.17763157894736842, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Cluck N Cleaver'}), confidence=0.17763157894736842, lift=1.0)]), RelationRecord(items=frozenset({'Dairy Lane Café'}), support=0.10526315789473684, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Dairy Lane Café'}), confidence=0.10526315789473684, lift=1.0)]), RelationRecord(items=frozenset({'Gyu-Kaku Japanese BBQ'}), support=0.13815789473684212, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Gyu-Kaku Japanese BBQ'}), confidence=0.13815789473684212, lift=1.0)]), RelationRecord(items=frozenset({'Hayden Block Smoke & Whiskey'}), support=0.17105263157894737, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Hayden Block Smoke & Whiskey'}), confidence=0.17105263157894737, lift=1.0)]), RelationRecord(items=frozenset({'JINYA Ramen Bar'}), support=0.20394736842105263, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'JINYA Ramen Bar'}), confidence=0.20394736842105263, lift=1.0)]), RelationRecord(items=frozenset({'Made By Marcus'}), support=0.21052631578947367, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Made By Marcus'}), confidence=0.21052631578947367, lift=1.0)]), RelationRecord(items=frozenset({'Model Milk'}), support=0.11842105263157894, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Model Milk'}), confidence=0.11842105263157894, lift=1.0)]), RelationRecord(items=frozenset({'Monki Bistro'}), support=0.13815789473684212, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Monki Bistro'}), confidence=0.13815789473684212, lift=1.0)]), RelationRecord(items=frozenset({'Native Tongues Taqueria'}), support=0.24342105263157895, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Native Tongues Taqueria'}), confidence=0.24342105263157895, lift=1.0)]), RelationRecord(items=frozenset({'OEB Breakfast Co.'}), support=0.29605263157894735, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'OEB Breakfast Co.'}), confidence=0.29605263157894735, lift=1.0)]), RelationRecord(items=frozenset({'Paper St'}), support=0.13157894736842105, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Paper St'}), confidence=0.13157894736842105, lift=1.0)]), RelationRecord(items=frozenset({'Po-ke'}), support=0.18421052631578946, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Po-ke'}), confidence=0.18421052631578946, lift=1.0)]), RelationRecord(items=frozenset({'Regrub Burger Bar'}), support=0.125, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Regrub Burger Bar'}), confidence=0.125, lift=1.0)]), RelationRecord(items=frozenset({'Shokunin'}), support=0.1118421052631579, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Shokunin'}), confidence=0.1118421052631579, lift=1.0)]), RelationRecord(items=frozenset({'Ten Foot Henry'}), support=0.21710526315789475, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Ten Foot Henry'}), confidence=0.21710526315789475, lift=1.0)]), RelationRecord(items=frozenset({"The Bro'kin Yolk"}), support=0.15789473684210525, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({"The Bro'kin Yolk"}), confidence=0.15789473684210525, lift=1.0)]), RelationRecord(items=frozenset({'The Coup'}), support=0.10526315789473684, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'The Coup'}), confidence=0.10526315789473684, lift=1.0)]), RelationRecord(items=frozenset({'The Himalayan'}), support=0.11842105263157894, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'The Himalayan'}), confidence=0.11842105263157894, lift=1.0)]), RelationRecord(items=frozenset({'The Nash'}), support=0.10526315789473684, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'The Nash'}), confidence=0.10526315789473684, lift=1.0)]), RelationRecord(items=frozenset({'Trolley 5'}), support=0.13815789473684212, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Trolley 5'}), confidence=0.13815789473684212, lift=1.0)]), RelationRecord(items=frozenset({'UNA Pizza + Wine'}), support=0.125, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'UNA Pizza + Wine'}), confidence=0.125, lift=1.0)]), RelationRecord(items=frozenset({'Village Ice Cream'}), support=0.18421052631578946, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Village Ice Cream'}), confidence=0.18421052631578946, lift=1.0)]), RelationRecord(items=frozenset({'JINYA Ramen Bar', 'Made By Marcus'}), support=0.10526315789473684, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'JINYA Ramen Bar', 'Made By Marcus'}), confidence=0.10526315789473684, lift=1.0), OrderedStatistic(items_base=frozenset({'JINYA Ramen Bar'}), items_add=frozenset({'Made By Marcus'}), confidence=0.5161290322580645, lift=2.4516129032258065), OrderedStatistic(items_base=frozenset({'Made By Marcus'}), items_add=frozenset({'JINYA Ramen Bar'}), confidence=0.5, lift=2.4516129032258065)]), RelationRecord(items=frozenset({'OEB Breakfast Co.', 'Native Tongues Taqueria'}), support=0.1118421052631579, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'OEB Breakfast Co.', 'Native Tongues Taqueria'}), confidence=0.1118421052631579, lift=1.0), OrderedStatistic(items_base=frozenset({'Native Tongues Taqueria'}), items_add=frozenset({'OEB Breakfast Co.'}), confidence=0.45945945945945943, lift=1.551951951951952), OrderedStatistic(items_base=frozenset({'OEB Breakfast Co.'}), items_add=frozenset({'Native Tongues Taqueria'}), confidence=0.3777777777777778, lift=1.551951951951952)])]

In [24]:
from apyori import apriori

final_rule = apriori(test,min_support=0.25,min_confidence=0.7,min_lift=1.2,min_length=2)
final_results = list(final_rule)
print(final_results)
#def popularity_based_recommend(userID,city):

[]