# Libraries

In [3]:
import sys
pathModulesES = '../sauceforyall/'
sys.path.append(pathModulesES)

**Elastic Query**

In [4]:
from yelpquery import YelpQuery
from pandasticsearch import Select
ye = YelpQuery()

**Machine Learning**

In [5]:
import pandas as pd
import numpy as np
import nltk
import pickle

**Visualize**

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

**Others**

In [7]:
import re
import string

**Warning**

In [8]:
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

**Index Name**

In [26]:
index_business = "yelp-business*"
index_review = "yelp-review*"
index_tip = "yelp-tip*"
index_user = "yelp-user*"

In [27]:
data_path = "/home/hongphuc95/notebookteam/dataset/"

# Data Processing

## Load Data

**Business**

We're interested in Food Businesses, thus we filter in the query to select only the businesses in the Restaurants category

In [28]:
business_first_chunk = ye.getBusinessByCategory(businessCategory="Restaurants", size=2500)

In [29]:
business_df = ye.getResultScrolling(business_first_chunk)

KeyboardInterrupt:

**Review**

In [ ]:
review_df =  pd.read_json(data_path + "cleaned/review_cleaned_2015.json", lines=True)

# Filter

We keep only relevant columns to join with reviews
- business_id
- name
- categories
- city
- state
- stars

In [ ]:
filter_features = ["business_id", "name", "categories", "city", "state", "stars"]
business_df = business_df[filter_features]

(Temp) we take only businesses in Arizona

In [ ]:
#business_df = business_df[business_df["state"] == "AZ"]

The feature stars in the business will eventually conflict with stars in reviews, we're gonna rename that

In [ ]:
business_df = business_df.rename(columns={"stars": "business_stars"})

## Joining data

In [ ]:
df_business_review = pd.merge(business_df, review_df, how="left", on='business_id')

In [ ]:
df_business_review = df_business_review.drop("state", axis=1)

# Export Data

Save the data for later usage

In [ ]:
df_business_review.to_json("../dataset/cleaned/restaurant_review_cleaned_2015.json", orient='records', lines=True)

In [ ]:
df_business_review.shape

In [36]:
data_a = {"id" : [1, 2, 2, 4], "grade": ["15", "12", "13", "18"]}
data_b = {"id" : [1, 2, 5], "name" : ["Alice", "Lucie", "Laura"], "age": [18, 19, 19]}

df_a = pd.DataFrame(data_a, columns=["id", "grade"])
df_b = pd.DataFrame(data_b, columns=["id", "name", "age"])

In [37]:
df_a

   id grade
0   1    15
1   2    12
2   2    13
3   4    18

In [38]:
df_b

   id   name  age
0   1  Alice   18
1   2  Lucie   19
2   5  Laura   19

In [ ]:
new_df = pd.merge()

# Second part of filtering review per state

In [10]:
data_path = "/home/hongphuc95/notebookteam/dataset/"

In [26]:
review_df =  pd.read_json(data_path + "cleaned/review_cleaned_2016_2019.json", lines=True)

In [12]:
business_df = pd.read_json(data_path + "business.json", lines=True)

In [23]:
filter_business = business_df[business_df["city"] == "Las Vegas"]["business_id"]

In [21]:
review_df.shape

(1401465, 9)

In [27]:
review_df_filtered = review_df[review_df["business_id"].isin(filter_business)]

In [28]:
review_df_filtered.shape

(1041555, 9)

In [30]:
review_df_filtered.to_json(data_path + "cleaned/review_cleaned_2016_2019_Vegas.json", orient='records', lines=True)