In [1]:
import pandas as pd
import numpy as np
import nltk
import pickle
from sklearn.metrics.pairwise import cosine_similarity
from sklearn import preprocessing

In [2]:
from geopy.exc import GeocoderTimedOut, GeocoderServiceError, GeocoderUnavailable
from geopy.geocoders import Nominatim
from math import radians, cos, sin, asin, sqrt
import requests

In [3]:
data_path = "/home/hongphuc95/notebookteam/dataset/"

In [4]:
business_df = pd.read_json(data_path + "business.json", lines=True)

In [15]:
business_df = business_df.dropna(subset=["categories"]).reset_index(drop=True)

In [16]:
import numpy as np
import scipy.spatial as spatial

In [17]:
#points = business_df[["longitude", "latitude"]]
#point_tree = spatial.cKDTree(points)

In [18]:
#len(point_tree.query_ball_point([-112.0185, 33.522144], 0.001))

In [19]:
from math import *

def cartesian(lat, lng, elevation = 0):
    '''
    function to convert latitude and longitude to 3D cartesian coordinates
    '''
    # Convert to radians
    #lat = lat * (pi / 180)
    #lng = lng * (pi / 180)
    
    R = 6371 # radius of the Earth in kilometers

    x = R * cos(lat) * cos(lng)
    y = R * cos(lat) * sin(lng)
    z = R * sin(lat)
    return x, y, z

def rad2deg(rad):
    '''
    function to convert radian to degree
    '''
    degree = (rad*180) / pi
    return(degree)

def deg2rad(degree):
    '''
    function to convert degree to radian
    '''
    rad = degree * (pi/180)
    return(rad)

def kmToDIST(x):
    '''
    function to convert real distance in km to cartesian distance 
    '''
    R = 6371 # earth radius
    gamma = 2*np.arcsin(x/2./R) 
    
    dist = 2*R*rad2deg(sin(gamma / 2.))
    return(dist)

def distToKM(x):
    '''
    function to convert cartesian distance to real distance in km
    '''
    R = 6371 # earth radius
    gamma = 2*np.arcsin(deg2rad(x/(2*R))) # compute the angle of the isosceles triangle
    dist = 2*R*sin(gamma/2) # compute the side of the triangle
    return(dist)

In [20]:
x, y, z = zip(*map(cartesian, business_df["latitude"], business_df["longitude"]))

In [21]:
x_ref, y_ref, z_ref = cartesian(36.1672559, -115.1485163)

In [22]:
x_ref, y_ref, z_ref

(-114.61803702647761, -219.954190214815, -6366.170266321436)

In [23]:
coordinates = list(zip(x, y, z))

In [24]:
tree = spatial.cKDTree(coordinates)

In [25]:
dist = kmToDIST(0.1)

In [26]:
dist

5.729577951308232

In [33]:
distToKM(5.6419747)

0.09847103482921932

In [39]:
index, idy = tree.query((x_ref, y_ref, z_ref), 136)

In [40]:
idx = tree.query_ball_point((x_ref, y_ref, z_ref), dist)

In [44]:
len(np.intersect1d(idx, idy))

136

In [50]:
from pysal.cg.kdtree import KDTree
from pysal.cg import RADIUS_EARTH_KM

In [81]:
data_geopoints = [tuple(x) for x in business_df[['latitude', 'longitude']].to_records(index=False)]

In [82]:
tree = KDTree(data_geopoints, distance_metric='Arc', radius=RADIUS_EARTH_KM)

In [83]:
s = (36.1672559, -115.1485163)

In [84]:
data_geopoints[0]

(33.5221425, -112.0184807)

In [87]:
indices = tree.query_ball_point(s, 0.1)

In [88]:
indices

[128637, 83662, 776, 87649, 129904, 132705]

In [89]:
from sklearn.neighbors import BallTree

In [155]:
coordinates = business_df[["latitude", "longitude"]]

In [156]:
def deg2rad(degree):
        '''
        function to convert degree to radian
        '''
        rad = degree * (pi/180)
        return(rad)

In [157]:
coordinates = coordinates.apply(lambda x: deg2rad(x))

In [158]:
coordinates.to_records(index=False)

rec.array([(0.58507176, -1.95509131), (0.76105953, -1.3901947 ),
           (0.61248078, -1.41125808), ..., (0.58782675, -1.95538956),
           (0.58322161, -1.95015661), (0.6301907 , -2.01012922)],
          dtype=[('latitude', '<f8'), ('longitude', '<f8')])

In [159]:
tree = BallTree(coordinates, metric='haversine')

In [160]:
a = [[36.1672559 * (np.pi / 180), -115.1485163 * (np.pi / 180)]]

In [163]:
idx = tree.query_radius(a, r=0.001/6371)

In [165]:
idx[0]

array([], dtype=int64)

In [146]:
len(idx[0].tolist())

3

In [ ]:
    def cartesian(self, lat, lng, elevation = 0):
        '''
        function to convert latitude and longitude to 3D cartesian coordinates
        '''
        R = 6371 # radius of the Earth in kilometers

        x = R * cos(lat) * cos(lng)
        y = R * cos(lat) * sin(lng)
        z = R * sin(lat)
        return x, y, z

    def rad2deg(self, rad):
        '''
        function to convert radian to degree
        '''
        degree = (rad*180) / pi
        return(degree)

    def deg2rad(self, degree):
        '''
        function to convert degree to radian
        '''
        rad = degree * (pi/180)
        return(rad)

    def kmToDist(self, x):
        '''
        function to convert real distance in km to cartesian distance 
        '''
        R = 6371 # earth radius
        gamma = 2*np.arcsin(x/2./R) 

        dist = 2*R*self.rad2deg(sin(gamma / 2.))
        return(dist)

    def distToKm(self, x):
        '''
        function to convert cartesian distance to real distance in km
        '''
        R = 6371 # earth radius
        gamma = 2*np.arcsin(self.deg2rad(x/(2*R))) # compute the angle of the isosceles triangle
        dist = 2*R*sin(gamma/2) # compute the side of the triangle
        return(dist)

In [1]:
import sys
pathModulesES = '../sauceforyall/'
sys.path.append(pathModulesES)
from yelpquery import YelpQuery
from pandasticsearch import Select
ye = YelpQuery()

In [2]:
first_chunk = ye.getBusinessById(businessId="r7T-m8c5bB5HM6GEkK-ZGw")

In [4]:
first_chunk = ye.getSingleTerm("yelp-business", "business_id.keyword", value="r7T-m8c5bB5HM6GEkK-ZGw")

In [5]:
first_chunk

{'_scroll_id': 'DXF1ZXJ5QW5kRmV0Y2gBAAAAAAAFND4WWGk4MkFob1hSbkdmdDRDU0JId05sQQ==',
 'took': 0,
 'timed_out': False,
 '_shards': {'total': 1, 'successful': 1, 'skipped': 0, 'failed': 0},
 'hits': {'total': {'value': 1, 'relation': 'eq'},
  'max_score': 11.762958,
  'hits': [{'_index': 'yelp-business',
    '_type': '_doc',
    '_id': 'WhFj5XEBXYQmZMVB7pN5',
    '_score': 11.762958,
    '_source': {'hours': {'Monday': {'Opening': '00:00', 'Closing': '00:00'},
      'Friday': {'Opening': '00:00', 'Closing': '00:00'},
      'Wednesday': {'Opening': '00:00', 'Closing': '00:00'},
      'Thursday': {'Opening': '00:00', 'Closing': '00:00'},
      'Sunday': {'Opening': '00:00', 'Closing': '00:00'},
      'Tuesday': {'Opening': '00:00', 'Closing': '00:00'},
      'Saturday': {'Opening': '00:00', 'Closing': '00:00'}},
     'stars': 3.5,
     'is_open': 1,
     'business_id': 'r7T-m8c5bB5HM6GEkK-ZGw',
     'categories': ['Beauty & Spas',
      'Medical Centers',
      'Drugstores',
      'Convenience Stores',
      'Shopping',
      'Cosmetics & Beauty Supply',
      'Photography Stores & Services',
      'Health & Medical',
      'Food'],
     '@version': '1',
     'name': 'Walgreens',
     'address': '495 Fremont St',
     'attributes': {'ByAppointmentOnly': False,
      'Caters': False,
      'BusinessParking': {'garage': True,
       'validated': False,
       'valet': False,
       'street': False,
       'lot': False},
      'BusinessAcceptsCreditCards': True,
      'RestaurantsTakeOut': False,
      'RestaurantsPriceRange2': 1,
      'Alcohol': 'full_bar',
      'BikeParking': True,
      'RestaurantsDelivery': False},
     'latitude': 36.1693968,
     '@timestamp': '2020-05-05T15:11:03.681Z',
     'review_count': 27,
     'state': 'NV',
     'city': 'Las Vegas',
     'postal_code': '89101',
     'longitude': -115.1415845}}]}}

In [6]:
business_df = ye.getResultScrolling(first_chunk)

In [7]:
business_df

,hours.Monday.Opening,hours.Monday.Closing,hours.Friday.Opening,hours.Friday.Closing,hours.Wednesday.Opening,hours.Wednesday.Closing,hours.Thursday.Opening,hours.Thursday.Closing,hours.Sunday.Opening,hours.Sunday.Closing,...,attributes.Alcohol,attributes.BikeParking,attributes.RestaurantsDelivery,latitude,@timestamp,review_count,state,city,postal_code,longitude
0,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,...,full_bar,True,False,36.169397,2020-05-05T15:11:03.681Z,27,NV,Las Vegas,89101,-115.141584

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_json("/home/hongphuc95/notebookteam/dataset/trends/checkin_per_business.json", lines=True)

In [9]:
df_json = df[["business_id", "all_years", "2016", "2017", "2018"]]

In [10]:
df_json.to_json("/home/hongphuc95/notebookteam/dataset/trends/checkin_per_business_elite.json", orient="records", lines=True)

In [6]:
df.shape

(73356, 53)